[Unit]
After=nftables.service
Wants=nftables.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/share/mss-nfqws/nfqws-handler start
ExecStop=/usr/share/mss-nfqws/nfqws-handler stop

[Install]
WantedBy=multi-user.target
